.card-box {
  margin-bottom: 16px;

  :global {
    .card {
      margin: 0;
    }

    .card-content-padding {
      padding: 12px 16px;
    }
  }
}

.card-ul {
  width: -webkit-fill-available;
  height: auto;
  list-style: none;
  padding: 16px 16px;
  margin: 0;
  box-sizing: border-box;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .li-title {
      font-size: 20px;
      font-family: Source Han Sans CN-Regular, Source Han Sans CN;
      font-weight: 400;
      color: #333333;
      line-height: 30px;
    }

    .li-status {
      width: 42px;
      height: 18px;
      border-radius: 4px;
      background: #e1edff;
      margin-top: 2px;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
    }

    .li-next-title {
      font-size: 14px;
      font-family: Source Han Sans CN-Regular, Source Han Sans CN;
      font-weight: 400;
      color: #595959;
      line-height: 21px;
    }

    .li-next-title:first-child {
      color: rgba(89, 89, 89, 0.7);
    }

    .li-next-title:last-child {
      color: #595959;
    }
  }

  .li-button {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;

    .baseButton {
      width: 100px;
      height: 32px;
      line-height: 32px;
      border-radius: 16px;
      font-size: 14px;
      font-weight: 400;
      font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    }

    .delete-button {
      background: #ffdad4;
      color: #d83333;
    }

    .confirm-button {
      background: #d8e5f5;
      color: #255cb2;
    }
  }
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  div {
    width: 200px;
    height: auto;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .div-ul {
    display: table-cell;
    vertical-align: middle;
    padding: inherit;
  }
}

.toastError {
  width: calc(100% - 32px) !important;
  background: transparent !important;
  border-radius: 8px 8px 8px 8px;
  position: 'center';
  top: 44px !important;
  text-align: center;

  :global {
    .toast-content {
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
      border-radius: 8px 8px 8px 8px;
      width: 100%;
      background: #d83333;
      box-shadow: 0px 4px 8px 1px rgba(142, 158, 183, 0.05);
      height: 77px;
      opacity: 0.8;
      display: flex;
      align-items: center;

      .toast-text {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.toastSuccess {
  width: calc(100% - 32px) !important;
  background: transparent !important;
  border-radius: 8px 8px 8px 8px;
  position: 'center';
  top: 44px !important;
  text-align: center;

  :global {
    .toast-content {
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
      border-radius: 8px 8px 8px 8px;
      width: 100%;
      background: #42bb9e;
      box-shadow: 0px 4px 8px 1px rgba(142, 158, 183, 0.05);
      height: 77px;
      opacity: 0.8;
      text-align: center;
      display: flex;
      align-items: center;

      .toast-text {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.toastWarn {
  width: calc(100% - 32px) !important;
  background: transparent !important;
  left: 16px !important;
  border-radius: 8px 8px 8px 8px;
  text-align: center;

  :global {
    .toast-content {
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
      border-radius: 8px 8px 8px 8px;
      width: 100%;
      background: #ffac38;
      box-shadow: 0px 4px 8px 1px rgba(142, 158, 183, 0.05);
      height: 77px;
      opacity: 0.8;
      text-align: center;
      display: flex;
      align-items: center;

      .toast-text {
        width: 100%;
        text-align: center;
      }
    }
  }
}