.checkTagGroup {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .tag {
    width: 30%;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: #333;
    background: #f6f6f6;
    font-size: 14px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

    &:nth-child(3n + 1) {
      margin-bottom: 15px;
    }

    &.active {
      background: url('./active-bg.png') 0 0 / 100% 100% no-repeat;
      color: #fff;
    }

    &.empty {
      background: transparent;
    }
  }
}
