.subnavbar::after {
  display: none !important;
}
.subnavbar::before {
  display: none !important;
}
.subnavbar {
  background: #f2f6f9;
}
.searchBar {
  background: #f2f6f9 !important;
  :global {
    .searchbar-inner {
      background-color: #fff;
      margin-left: 16px !important;
      margin-right: 16px !important;
      width: calc(100vw - 32px);
      height: 33px;
      border-radius: 16px 16px 16px 16px;
      top: 6px;
    }
    input[type='search'] {
      height: 33px;
      background: rgba(0, 0, 0, 0);
      flex: 1;
    }
  }
}
